genj_social_feed:
    oAuth:
        twitter:
            consumer_key:    ''
            consumer_secret: ''
            user_token:      ''
            user_secret:     ''
        facebook:
            app_id:          ''
            app_secret:      ''
            client_token:    ''
        instagram:
            client_id:       ''
    feed_users:
        twitter:
            - Username
            - Username
        facebook:
            - Username
        instagram:
            - Username